.swiper {
    width: 90%;
    height: 15rem;
    margin-top: 8rem;
}

.swiper-wrapper {
    display: flex;
}

.swiper-slide {
    width: 18rem;
    height: 14rem;
    background-color: purple;
}

